@page
@using Microsoft.Extensions.Localization
@using BillSharing.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<BillSharingResource> L
@model BillSharing.Web.Pages.Expenses.CreateModalModel
@{
    Layout = null;
}

<form asp-page="/Expenses/CreateModal">
    <abp-modal size="Large" centered="true">
        <abp-modal-header title="New Expense"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Expense.GroupId" type="hidden" />

            <!-- Expense Info -->
            <div class="row">
                <div class="col-md-6">
                    <abp-input asp-for="Expense.Title" />
                </div>

                <div class="col-md-6">
                    <abp-select asp-for="Expense.PaidByUserId"
                                label="@L["PaidBy"]"
                                asp-items="Model.UserSelectList" />
                </div>
            </div>
            <abp-input asp-for="Expense.ExpenseDate" type="date" />

            <hr />

            <!-- Items Section -->
            <h5>Items</h5>

            <div id="items-container">
            </div>

            <button type="button" id="AddItemButton" class="btn btn-secondary mt-2">
                <i class="fa fa-plus"></i> Add Item
            </button>

            <template id="item-template">
                <div class="card mb-3 p-3 item-row">
                    <div class="d-flex mb-2">
                        <button type="button" class="btn btn-outline-danger btn-sm remove-item-button ms-auto">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="form-label">Item Name</label>
                                <input name="Expense.Items[{index}].ItemName" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Total Amount</label>
                                <input name="Expense.Items[{index}].TotalAmount" type="number" step="0.01" class="form-control" required />
                            </div>
                        </div>
                    </div>

                    <label class="fw-bold">Share With</label>
                    <div class="row">
                        @foreach (var user in Model.UserSelectList)
                        {
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="Expense.Items[{index}].UserIds" value="@user.Value"
                                           id="user_{index}_@user.Value" />
                                    <label class="form-check-label" for="user_{index}_@user.Value">
                                        @user.Text
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </template>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>

<abp-script src="/Pages/Expenses/CreateModal.js" />
