.group-section, .group-section header {
    border: none;
    box-shadow: none !important;
}

.group-card {
    transition: all 0.25s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 20px rgba(0, 0, 0, 0.08);
}

.group-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08), 0 18px 40px rgba(0, 0, 0, 0.15);
}

.group-card .input-group {
    cursor: text;
}