.group-section, .group-section header {
    border: none;
    box-shadow: none !important;
}

.group-card {
    transition: all 0.25s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 20px rgba(0, 0, 0, 0.08);
}

.group-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08), 0 18px 40px rgba(0, 0, 0, 0.15);
}

.group-card .input-group {
    cursor: text;
}

.split-list > div:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}

.accordion-button {
    position: relative;
    padding-right: 3rem; /* space for arrow */
}

.accordion-button::after {
    position: absolute;
    right: 1rem;
}

.status-badge {
    min-width: 90px;
    text-align: center;
    margin-left: 0.5rem;
}

.expense-header, .expense-header .text-muted {
    background-color: #212529;
    color: white;
}